chrome-profile/
source-snapshots/
scripts/
.vercel/
assets/originals/*
!assets/originals/1e2317d9-5132-444b-93df-b23bd5818da6.png
!assets/originals/2024-06-06_00-22-10.jpg
!assets/originals/2024-06-06_00-24-56.jpg
!assets/originals/2024-06-06_00-28-30.jpg
!assets/originals/2024-09-10_18-48-00.jpg
!assets/originals/2024-09-10_19-05-12.jpg
!assets/originals/2024-09-10_19-34-28.jpg
!assets/originals/2024-09-11_21-08-13.jpg
!assets/originals/2024-09-11_21-09-20.jpg
!assets/originals/2024-09-12_22-12-47.jpg
!assets/originals/2024-09-13_18-23-43.jpg
!assets/originals/2024-09-13_18-45-12.jpg
!assets/originals/52.jpg
!assets/originals/adam.jpg
!assets/originals/Approval1.png
!assets/originals/BDAA_Certificate_Accreditation_Farshid_Ho-0001.png
!assets/originals/blob-0001.png
!assets/originals/circle-building-approval.png
!assets/originals/granny.webp
!assets/originals/Green-Design-Sydney-Pty-Ltd_futuristic-skyscra.jpg
!assets/originals/maxresdefault.jpg
!assets/originals/photo_2024-06-17_20-00-53.jpg

qa*
Thumbs.db
.DS_Store
